<html>
    <head>
        <h1> ...</h1>
    </head>
    <body> 
        {{groups}}
        {% for group in groups %}

        <td>{{ group.0 }} </td>
        <td>{{ group.1 }} </td>
    
        {% endfor %}
        <!-- <h1>{{ res }}</h1> -->
        <!-- <h5>{{ customers }}</h5> -->
        <table border="2">
            <tr>
            <th>Customer Code</th>
            <th> Name</th>
            <th>Upazilla Code</th>
            <th>Upazilla Name</th>
            <th> Grading</th>>
            </tr>>
        {% for customer in customers %}
            <!-- <td>{{ customer.CustomerCode}}</td>>
            <td>{{ customer.Age }}</td>
            <td>{{ customer.DivisionName }} </td> -->
            <!-- <td>{{ customer.0}}</td>>
            <td>{{ customer.1 }}</td> -->
            <tr>
            <td>{{ customer.0 }} </td>
            <td>{{ customer.1 }} </td>
            <td>{{ customer.2 }} </td>
            <td>{{ customer.3 }} </td>
            <td>{{ customer.27 }} </td>
            </tr>
        {% endfor %}
    </table>>
    </body>
</html>